<form action="/api/products" method="post">

  <label for="">Nombre
    <input type="text" name="name" /><br />
  </label>

  <label for="">Marca
    <input type="text" name="brand" /><br />
  </label>

  <label for="">Precio
    <input type="number" name="price" /><br />
  </label>

  <label for="">Descripcion
    <input type="text" name="description" />
  </label>

  <label for="">Categoria
    <input type="text" name="category" />
  </label>

  <label for="">Stock
    <input type="number" name="stock" />
  </label>

  <label for="">Disponible
    <input type="checkbox" name="status" />
  </label>
</form>