<link rel="stylesheet" href="/css/form.css">
{{>navbar}}

<h1>Crear Producto</h1>

<form action="/api/products" method="POST" enctype="multipart/form-data">

  <label>
    Código
    <input type="text" name="code">
  </label>

  <label>
    Título
    <input type="text" name="title">
  </label>

  <label>
    Marca
    <input type="text" name="brand">
  </label>

  <label>
    Precio
    <input type="number" name="price">
  </label>

  <label>
    Descripción
    <input type="text" name="description">
  </label>

  <label>
    Categoría
    <input type="text" name="category">
  </label>

  <label>
    Stock
    <input type="number" name="stock">
  </label>

  <label>
    Disponible
    <input type="checkbox" name="status">
  </label>

  <label>
    Imagen
    <input type="file" name="thumbnail">
  </label>

  <button type="submit">
    Crear producto
  </button>

</form>