<link rel="stylesheet" href="/css/nav-bar.css" />

<nav class="navbar">
  <ul>
    <li><a href="/products">Inicio</a></li>
    <li><a href="/carts/6a394d8c5d8ff77339cf7075">Carrito</a></li>
  </ul>
</nav>