<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHzeKJG7E5A3HYknJPmRf1h3oddlqiAO55dbEDG_R2Bg&s=10"
    />
    <title>Great-Shop</title>
  </head>
  <body>
    {{{body}}}
  </body>

</html>